#Ignored files
AlbaBotTwitter\.vs
AlbaBotTwitter\AlbabotTwitter.sln
AlbaBotTwitter\AlbabotTwitter.csproj
AlbaBotTwitter/\.vs/

AlbaBotTwitter/AlbabotTwitter\.csproj

AlbaBotTwitter/AlbabotTwitter\.sln

AlbaBotTwitter/Program\.cs
